@import "tailwindcss";


.fff-body-tag{
   background-image: url('./img/background-subtle.png');
   background-attachment: fixed; 
}

.fff-body-tag .fff-winners-table .p-datatable-header{
        background-color: #054778;
        color:white;
        text-align: center;
        font-weight:bold;
}

.fff-body-tag .fff-losers-table .p-datatable-header{
        background-color: #c81e28;
        color:white;
        text-align: center;
        font-weight:bold;
}

.fff-body-tag .fff-winner-stat, .fff-dialog .fff-winner-stat{
        background-color: #054778;
        color:white;   
}

.fff-body-tag .fff-losers-stat, .fff-dialog .fff-losers-stat{
        background-color: #c81e28;
        color:white;   
}

@media only screen and (max-width: 480px) {
    .fff-dialog{
        max-width:100vw !important;
        min-width:0 !important;
    }
}